BuzzLancer/Library/
BuzzLancer/Temp/
BuzzLancer/obj/
BuzzLancer/Assembly-CSharp-vs.csproj
BuzzLancer/Assembly-CSharp.csproj
BuzzLancer/BuzzLancer-csharp.sln
BuzzLancer/BuzzLancer.sln
*.suo

_Resharper*

[Bb]in
[Rr]ealease
[Dd]ebug

/Build

thumbs.db
Desktop.ini